#presentationPage
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fade-in 0.5s linear;
}

#presentationPage #top
{
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
}

#presentationPage .JoinUsButton
{
    position: absolute;
    bottom: 20px;
    width: 250px;
}
