#appBackground
{
    display: flex;
    background-color: #eee;
    margin-left: 100px;
    margin-right: 100px;
    height: fit-content;
    justify-content: center;
    padding-bottom: 2%;
}

footer
{
    height: 8vh;
    width: 100%;
    position: sticky;
    background-color: gray;
    color: white;
    font-size: 32px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
