body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root
{
  --ddroidd-blue: #003C55;
  --ddroidd-yellow: gold;
}

@keyframes fade-in {
  from
  {
    opacity: 0;
  }
  to
  {
    opacity: 100%;
  }
}
